.DS_Store
node_modules
linux_lib
frontend*.zip
dist
yarn.lock
yarn-error.log
other/nodep/data
other/s_banana/dist_deploy/coverpic
other/s_banana/data
# Local Netlify folder
.netlify
dataSource*.txt
video/
