.segmented.data-v-a35fc200{position:-webkit-sticky;position:sticky;top:44px;padding:5px 10px;background-color:#fff;z-index:100;border-bottom:1px solid #f2f2f2}.segmented_top.data-v-a35fc200{top:0}.items.data-v-a35fc200{display:-webkit-box;display:-webkit-flex;display:flex;padding:5px;-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center}.items .item.data-v-a35fc200{margin:5px;margin-top:5px;font-size:14px;width:320px}.items .item .image.data-v-a35fc200{width:100%;height:180px}.items .item .video.data-v-a35fc200{width:100%;height:180px}