.page.data-v-12717398{font-size:16px;background-color:#f2f2f2;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;min-height:100vh}.page .item.data-v-12717398{margin:10px;background-color:#fff;border-radius:10px;box-sizing:border-box}.page .item .row.data-v-12717398{padding:10px 10px 0 10px;display:-webkit-box;display:-webkit-flex;display:flex}.page .item .row.data-v-12717398:nth-last-child(1){padding-bottom:10px}.page .item .row .left.data-v-12717398{background-color:#f0f0f0}.page .item .row .right.data-v-12717398{background-color:#95eb75}.page .item .row ._div.data-v-12717398{padding:3px 10px;border-radius:5px;-webkit-user-select:all;user-select:all}